
html{
    background-color: black;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12%;
}

.header__wrapper > h1{
    margin-left: 18%;
    font-weight: 500;
}

img {
    height: 10%;
    width: 10%;
}

.section__wrapper{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: aquamarine;
    margin-bottom: 22%;
}

.diskr{
    background-color: rgb(6, 6, 88);
    cursor:default;
}

.footer__wrapper > div{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.diskr:hover{
    background-color: blueviolet;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}